<ul class="flex items-center justify-center gap-8 text-3xl text-indigo-600">
  <li>
    <a href="https://www.linkedin.com/in/djaliri" target="_blank"
      ><div style="width: 30px; height: 30px">
        <i class="fa-brands fa-linkedin w-full"></i></div
    ></a>
  </li>
  <li>
    <a href="https://github.com/KonectaPe/KonectaPe" target="_blank">
      <div style="width: 30px; height: 30px">
        <i class="fa-brands fa-square-github w-full"></i>
      </div>
    </a>
  </li>
  <li>
    <a href="mailto:dtjmestas@gmail.com" target="_blank">
      <div style="width: 30px; height: 30px">
        <i class="fa-solid fa-envelope w-full"></i>
      </div>
    </a>
  </li>
</ul>
