<section class="h-screen bg-indigo-950 px-4 text-white" id="acerca-de-mi">
  <div
    class="mx-auto flex h-screen max-w-2xl flex-col items-center justify-center gap-4 pt-24"
  >
    <h2 class="text-3xl text-purple-300">Acerca de mí</h2>
    <p class="p-2 leading-8 shadow-2xl">
      Desarrollador web especializado en tecnologías web, enfocado en crear
      interfaces modernas y funcionales. Me destaco por gestionar mi tiempo de
      manera eficiente, resolver problemas de forma creativa, comunicarme con
      claridad y trabajar en equipo. Mis hobbies, como la música y la lectura,
      me ayudan a mantener una perspectiva fresca y a seguir aprendiendo
      constantemente. Estoy listo para convertir tus ideas en soluciones
      innovadoras.
    </p>
    <div>
      <a
        class="rounded-md bg-white px-4 py-2 text-sm font-medium text-purple-600 transition duration-300 ease-in-out hover:bg-purple-100"
        href="https://www.linkedin.com/in/djaliri"
        target="_blank"
      >
        Conectemos
      </a>
    </div>
  </div>
</section>
