<section class="bg-slate-900 px-4 py-8 text-white xl:pt-6" id="educacion">
  <div
    class="max-full mx-auto flex max-w-6xl flex-col items-center justify-center gap-4 xl:h-screen"
  >
    <h2 class="text-center text-3xl text-purple-300">Educación</h2>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <article
        class="flex flex-col gap-4 rounded-xl bg-slate-800 p-4 text-white"
      >
        <h3>2024 - EGG LIVE</h3>
        <div>
          <img width="200" src="/assets/certificate.webp" alt="" />
        </div>
        <div class="flex flex-col gap-2">
          <p>Frontend</p>
          <ul class="flex flex-wrap gap-4 text-sm">
            <li class="rounded-md bg-purple-400 px-2 py-1">Html</li>
            <li class="rounded-md bg-purple-400 px-2 py-1">Css</li>
            <li class="rounded-md bg-purple-400 px-2 py-1">JavaScript</li>
            <li class="rounded-md bg-purple-400 px-2 py-1">TypeScript</li>
            <li class="rounded-md bg-purple-400 px-2 py-1">Tailwind Css</li>
            <li class="rounded-md bg-purple-400 px-2 py-1">React</li>
          </ul>
          <p>Backend</p>
          <ul class="flex flex-wrap gap-4 text-sm">
            <li class="rounded-md bg-purple-400 px-2 py-1">Java</li>
            <li class="rounded-md bg-purple-400 px-2 py-1">Spring Boot</li>
            <li class="rounded-md bg-purple-400 px-2 py-1">Jpa</li>
            <li class="rounded-md bg-purple-400 px-2 py-1">Mysql</li>
            <li class="rounded-md bg-purple-400 px-2 py-1">Spring Security</li>
          </ul>
        </div>
        <div class="flex flex-col gap-2">
          <p>Logros destacados</p>
          <p class="text-sm">
            Alcancé 344 pulsos y obtuve el puesto #3 de toda la cursada, un
            logro que comparto con mis increíbles compañeros tras meses de
            aprendizaje, retos y cooperación.
          </p>
        </div>
      </article>
      <div class="flex flex-1 flex-col gap-4">
        <article
          class="flex flex-1 flex-col gap-4 rounded-xl bg-slate-800 p-4 text-white"
        >
          <h3>2024 - ORACLE NEXT EDUCATION</h3>
          <div class="flex flex-col gap-2">
            <p>Frontend</p>
            <ul class="flex flex-wrap gap-4">
              <li class="rounded-md bg-purple-400 px-2 py-1">Html</li>
              <li class="rounded-md bg-purple-400 px-2 py-1">Css</li>
              <li class="rounded-md bg-purple-400 px-2 py-1">JavaScript</li>
              <li class="rounded-md bg-purple-400 px-2 py-1">TypeScript</li>
              <li class="rounded-md bg-purple-400 px-2 py-1">Tailwind Css</li>
              <li class="rounded-md bg-purple-400 px-2 py-1">React</li>
            </ul>
            <p>Backend</p>
            <ul class="flex flex-wrap gap-4">
              <li class="rounded-md bg-purple-400 px-2 py-1">Java</li>
              <li class="rounded-md bg-purple-400 px-2 py-1">Spring Boot</li>
              <li class="rounded-md bg-purple-400 px-2 py-1">Jpa</li>
              <li class="rounded-md bg-purple-400 px-2 py-1">Mysql</li>
              <li class="rounded-md bg-purple-400 px-2 py-1">
                Spring Security
              </li>
            </ul>
          </div>
        </article>
        <article
          class="flex flex-1 flex-col gap-4 rounded-xl bg-slate-800 p-4 text-white"
        >
          <h3>2024 - UNIVERSIDAD ANDINA NÉSTOR CÁCERES VELÁSQUEZ</h3>
          <div class="flex flex-col gap-2">
            <p>Ingeniería de Sistemas</p>
            <ul class="flex flex-wrap gap-4">
              <li class="rounded-md bg-purple-400 px-2 py-1">Html</li>
              <li class="rounded-md bg-purple-400 px-2 py-1">Css</li>
              <li class="rounded-md bg-purple-400 px-2 py-1">JavaScript</li>
              <li class="rounded-md bg-purple-400 px-2 py-1">TypeScript</li>
              <li class="rounded-md bg-purple-400 px-2 py-1">Tailwind Css</li>
              <li class="rounded-md bg-purple-400 px-2 py-1">React</li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
