<section
  id="inicio"
  class="flex h-screen flex-col items-center justify-center gap-8 px-4 pt-20"
>
  <div class="h-52 w-52">
    <img
      width="200"
      height="200"
      ngSrc="/assets/profile.svg"
      alt="Profile principal, svg programando, chico con lentes y una laptop, cohete"
      priority
      class="h-full w-full"
    />
  </div>
  <h2 class="text-center text-5xl tracking-widest md:text-6xl">
    <span
      class="bg-gradient-to-r from-purple-600 to-indigo-600 bg-clip-text text-transparent"
      >DEYVER
    </span>
    <span class="text-indigo-900">JALIRI</span>
  </h2>
  <p
    class="text-md rounded-lg bg-indigo-900 p-2 text-white shadow-md shadow-purple-600 md:text-xl"
  >
    &lt; Desarrollador Front-end /&gt;
  </p>
  <app-social></app-social>
</section>
